{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <script type="text/javascript">
    function setCookieMinute(pLabel, pVal, pMinutes) {
      var tExpDate = new Date();

        tExpDate.setTime(tExpDate.getTime() + (pMinutes * 60 * 1000));
      document.cookie = pLabel + "=" + escape(pVal) + ";path=/"+
      ((pMinutes == null) ? "" : ";expires=" + tExpDate.toGMTString());
    }

    function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=")
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1
            c_end = document.cookie.indexOf(";", c_start)
            if (c_end == -1) c_end = document.cookie.length
            return unescape(document.cookie.substring(c_start, c_end))
        }
    }
    return ""
    }

    function checkForm(form) {
        var order={}
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].type == "text" && form.elements[i].value == "") {
                alert("送餐信息不完整")
                return false;
            }
        }
        order['0'] = form.elements[0].value
        order['1'] = form.elements[1].value
        order['2'] = form.elements[2].value
        order['3'] = form.elements[3].value
        console.log('order',order)
        $.ajax({
            type: 'POST',
            url: '/orders/notify/',
            data:{'order': JSON.stringify(order)},
            dataType: 'json',
            success: function (data) {
                console.log('dingding',data)
            },
            done:function(data) {
                console.log('ding',data)
            }
          });

        let orderJson = JSON.stringify(order);
        setCookieMinute("order", orderJson, 24 * 360)
        return true;
    }



  </script>
  <form id="orderForm" class="callout text-center" method="post" onsubmit="return checkForm(this)">
      <h2>请完善您的订单信息</h2>
      <div class="floated-label-wrapper">
        <label >联系电话</label>
        <input type="text" id="full-name" name="phone" placeholder="送餐时联系您的电话">
      </div>
      <div class="floated-label-wrapper">
        <label>付款微信</label>
        <input type="text" id="email" name="wechat" placeholder="店主将添加您的微信完成订单的支付">
      </div>
      <div class="floated-label-wrapper">
        <label >送餐地址</label>
        <input type="text" id="pass" name="address" placeholder="您取餐时的地点">
      </div>
      <div class="floated-label-wrapper">
          <label >送餐时间</label>
          <input type="text" id="pass" name="time" placeholder="您期望的取餐时间">
      </div>
      <input class="button expanded" type="submit" value="提交">
      {% csrf_token %}
    </form>
    <script>
      order = getCookie('order')
      let orderJson = getCookie("order")
      if (orderJson) {
        let orderCookie = JSON.parse(orderJson)
        console.log('oder',orderCookie)
        let form = document.getElementById('orderForm')
        console.log('form',form)
        for (var i = 0; i < 4; i++) {
            form.elements[i].value = orderCookie[''+i]
        }
      }
    </script>




  <!-- <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form> -->
{% endblock %}
